<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="./../css/cart.css">
    <script src="https://kit.fontawesome.com/aba6d103ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="cart ">
            <div class="left">
                    <div class="bag">
                        <div >
                            <h3 class="header">Charles <span class="header">Bag</span></h3>
                        </div>
                        <hr>
                        <div class="bag-item">
                            <img class="cartProductImage" src="./../../../assets/WhatsApp Image 2020-09-07 at 22.05.03 (1).jpeg"
                                alt="product-image">
                            <div class="description">
                                <h4>$25.00</h4>
                                <p>Oversized sweatShirt</p>
                                <div class="product-description">
                                    <p class="display-block">Grey</p> |
                                    <p class="display-block">Medium</p> |
                                    <div class="cart-qty display-block">
                                        <p class="display-block">Qty </p>
                                        <p class="display-block">5 <span><i class="fas fa-angle-down"></i></span></p>
                                    </div>

                                </div>
                                <p class="save display-block"> <i class="far fa-heart"></i>save for later</p>
                            </div>

                            <span class="close"> X</span>

                        </div>
                        <hr>
                        <div class="bag-item">
                            <img class="cartProductImage" src="./../../../assets/WhatsApp Image 2020-09-07 at 22.05.03 (1).jpeg"
                                alt="product-image">
                            <div class="description">
                                <h4>$25.00</h4>
                                <p>Oversized sweatShirt</p>
                                <div class="product-description">
                                    <p class="display-block">Grey</p> |
                                    <p class="display-block">Medium</p> |
                                    <div class="cart-qty display-block">
                                        <p class="display-block">Qty </p>
                                        <p class="display-block">5 <span><i class="fas fa-angle-down"></i></span></p>
                                    </div>
                        
                                </div>
                                <p class="save display-block"> <i class="far fa-heart"></i>save for later</p>
                            </div>
                        
                            <span class="close"> X</span>
                        
                        </div>

                        <div class="sub-total">
                            <table>
                                <thead>
                                    <tr>
                                        <td>SUB-TOTAL</td>
                                        <td class="price">$50.00</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="delivery">
                        <div>
                            <img class = "cart-icon" src="./../../../assets/delivery-truck.png" alt="bike-image">
                            <div class="display-block delivery-desc">
                                <h3> Free Delivery For Local Pick up</h3>
                                <h4>Delivery cost varies according to location</h4>
                                <p><a href="####">Read more </a></p>
                            </div>
                        </div>
                    </div>

                    <div class="return">
                        <div>
                            <img class="cart-icon" src="../../../assets/return-box.png" alt="">
                            <div class="delivery-desc display-block">
                                <h3>Easy Return Process</h3>
                                <p>Return items within 14 days of receiving your order</p>
                                <p><a href="###">Return policy</a></p>
                            </div>
                        </div>
                    </div>
            </div>
            <div>
                <div class="cart-checkout checkout">
                    <h3 class="header">Total</h3>
                    <hr>
                    <h4>Shipping and Delivery <span><i class="fas fa-angle-down"></i></span></h4>
                    <label for="promocode">Promo/Discount code</label>
                    <form action="">
                        <input class="promo-code-form" type="text" name="promoCodes" id="">
                        <button class="btn-promocode">Apply</button>
                    </form>
                    <hr>
                    <table>
                        <thead>
                            <tr>
                                <td>SUB-TOTAL</td>
                                <td class="price">$50.00</td>
                            </tr> 
                            <tr>
                                <td>SHIPPING</td>
                                <td class="price">$10.00</td>
                            </tr>
                            <tr>
                                <td>TOTAL TO PAY</td>
                                <td class="price">$70.00</td>
                            </tr>
                        </thead>
                    </table>
                    <a href="./checkout.html"><button class="btn-checkout">CHECKOUT</button></a>
                </div>
            </div>
        </div>
       
    </div>
</body>

</html>