<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="./../css/checkout.css">
</head>
<body>
    <div class="container">
        <div class="billingInformation " id="billingInformation">
            <h3>Billing Information</h3>
            <form action="">
                <div>
                    <label for="billing_firstName">First Name</label><br>
                    <input type="text" name="" value="" id="billing_firstName">
                </div>
                <div>
                    <label for="billing_lastName">Last Name</label><br>
                    <input type="text" name="" value="" id="billing_lastName">
                </div>
                <div>
                    <label for="billing_addressLine">Address line 1</label><br>
                    <input type="text" name="" value="" id="billing_addressLine">
                </div>
                <div>
                    <label for="billing_apartmentNumber">Apartment Number</label><br>
                    <input type="text" name="" value="" id="billing_apartmentNumber">
                </div>
                <div>
                    <label for="billing_country">Country</label><br>
                    <input type="text" name="" value="" id="billing_country">
                </div>
                <div>
                    <label for="billing_state">State</label><br>
                    <input type="text" name="" value="" id="billing_state">
                </div>
                 <div>
                    <label for="billing_phoneNumber">Phone Number</label><br>
                    <input type="text" name="" value="" id="billing_phoneNumber">
                </div>
                <div>
                    <label for="billing_zipCode">Zip code</label><br>
                    <input type="text" name="" value="" id="billing_zipCode">
                </div>

                <hr>
                <h3>Shipping Information</h3>
                <input type="checkbox" id="checkout-address"><span>Same as billing Information</span><br>
                <div>
                    <label for="shipping_firstName">First Name</label><br>
                    <input type="text" name="" value="" id="shipping_firstName">
                </div>
                <div>
                    <label for="shipping_lastName">Last Name</label><br>
                    <input type="text" name="" value="" id="shipping_lastName">
                </div>
                <div>
                    <label for="shipping_addressLine">Address line 1</label><br>
                    <input type="text" name="" value="" id="shipping_addressLine">
                </div>
                <div>
                    <label for="shipping_apartmentNumber">Apartment Number</label><br>
                    <input type="text" name="" value="" id="shipping_apartmentNumber">
                </div>
                <div>
                    <label for="shipping_country">Country</label><br>
                    <input type="text" name="" value="" id="shipping_country">
                </div>
                <div>
                    <label for="shipping_state">State</label><br>
                    <input type="text" name="" value="" id="shipping_state">
                </div>
                <div>
                    <label for="shipping_phoneNumber">Phone Number</label><br>
                    <input type="text" name="" value="" id="shipping_phoneNumber">
                </div>
                <div>
                    <label for="shipping_zipCode">Zip code</label><br>
                    <input type="text" name="" value="" id="shipping_zipCode"><br>
                </div>
                <button type="submit">Proceed to payment</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./../js/checkout.js"></script>
</body>
</html>